:root {
  --background: #eeeef0;
  --foreground: #111;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --header-bg: rgba(243, 243, 243, 0.15);
  --header-bg-wt: #fff;
  --header-shadow: 0 4px 4px rgba(31, 32, 34, 0.05);
  --header-logo-width: 44px;
  --header-logo-height: 42px;

  --header-height-mobile: 50px;
  --header-height-desktop: 76px;
  --find-filters-width-md: 206px;
  --find-filters-width-lg: 260px;
  --find-location-width: 240px;
  --find-card-width-mobile: 140px;
  --find-card-height-mobile: 188px;
  --find-card-width: 240px;
  --find-card-height: 322px;

  --primary-100: #a300dd;
  --primary-80: #c03fee;
  --primary-60: #da5dfe;
  --primary-40: #d07aef;
  --primary-20: #dda5f1;
  --primary-0: #f8e5fe;

  --gray-100: #1f2022;
  --gray-90: #55575d;
  --gray-80: #7b808d;
  --gray-70: #afb3be;
  --gray-50: #c8cacf;
  --gray-30: #eeeef0;
  --gray-0: #fafafa;

  --light-opacity: #ffffff26;

  --error: #ae2222;
  --success: #0da049;
  --warning: #D8BC33;
  --info: #3446e9;
  --nature: #fff;

  --font-sans: 'SF Pro Rounded', ui-sans-serif, system-ui, sans-serif;
}

@theme {
  /* radius */
  --radius-sm: 10px;
  --radius-md: 20px;
  --radius-lg: 50px;
  --radius-circle: 100px;

  /* shadcn color mapping */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --spacing-header: var(--header-height);
  --spacing-header-logo-width: var(--header-logo-width);
  --spacing-header-logo-height: var(--header-logo-height);
  --spacing-find-filters-width-md: var(--find-filters-width-md);
  --spacing-find-filters-width-lg: var(--find-filters-width-lg);
  --spacing-find-location-width: var(--find-location-width);
  --spacing-find-card-width-mobile: var(--find-card-width-mobile);
  --spacing-find-card-height-mobile: var(--find-card-height-mobile);
  --spacing-find-card-width: var(--find-card-width);
  --spacing-find-card-height: var(--find-card-height);

  --color-header-bg: var(--header-bg);
  --color-header-bg-wt: var(--header-bg-wt);
  --shadow-header: var(--header-shadow);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-primary-100: var(--primary-100);
  --color-primary-80: var(--primary-80);
  --color-primary-60: var(--primary-60);
  --color-primary-40: var(--primary-40);
  --color-primary-20: var(--primary-20);
  --color-primary-0: var(--primary-0);

  --color-gray-100: var(--gray-100);
  --color-gray-90: var(--gray-90);
  --color-gray-80: var(--gray-80);
  --color-gray-70: var(--gray-70);
  --color-gray-50: var(--gray-50);
  --color-gray-30: var(--gray-30);
  --color-gray-0: var(--gray-0);

  --color-light-opacity: var(--light-opacity);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-nature: var(--nature);

  --font-family-sans: var(--font-sans);

  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1536px;

  --shadow-default: -4px 4px 10px 0px #0000001a;
}
